.aDashboard{
  color:white;
  text-decoration: none;
}

.divMenuDashboard{
  width: 100%;
  border-radius: 4px;
  background-color: #4e73df;
  color:white;
  padding: 80px;
  -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.upperCaseletter{
  text-transform: uppercase;
}
