.opt-menu-icon{
    content: url(../img/icons/deploy.svg);
    background-size: 100%;
    width: 17px;
    display: inline-block;
    background-repeat: no-repeat;
}


.title_tab{
  background-color: #15589B !important;
  margin-bottom:1px !important;
  color: white;
}

.card-body {
  /*background-color: white !important;*/
  border-left: 1px #15589B !important;
  border-right:1px #15589B !important;
}
