.custom-radios div {
    display: inline-block;
    margin-left: 20px;
  }
  .custom-radios input[type=radio] {
    display: none;
  }
  .custom-radios input[type=radio] + label {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  .custom-radios input[type=radio] + label span {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 44px;
  }
  .custom-radios input[type=radio] + label span img {
    opacity: 0;
    transition: all 0.3s ease;
    margin-bottom: 20px;
  }
  .custom-radios input[type=radio]#color-1 + label span {
    background-color: #FF6347;
  }
  .custom-radios input[type=radio]#color-2 + label span {
    background-color: #ea899a;
  }
  .custom-radios input[type=radio]#color-3 + label span {
    background-color: #de6749;
  }
  .custom-radios input[type=radio]#color-4 + label span {
    background-color: #ffd562;
  }
  .custom-radios input[type=radio]#color-5 + label span {
    background-color: #287233;
  }
  .custom-radios input[type=radio]#color-6 + label span {
    background-color: #2f4538;
  }
  .custom-radios input[type=radio]#color-7 + label span {
    background-color: #5DC1B9;
  }
  .custom-radios input[type=radio]#color-8 + label span {
    background-color: #6040a0;
  }
  .custom-radios input[type=radio]#color-9 + label span {
    background-color: #B57EDC;
  }
  .custom-radios input[type=radio]#color-10 + label span {
    background-color: #572364;
  }
  .custom-radios input[type=radio]#color-11 + label span {
    background-color: #9d9d97;
  }
  .custom-radios input[type=radio]:checked + label span img {
    opacity: 1;
  }