/*div.pass-user {
  border:1px solid #d1d3e2;;
	padding: .375rem .75rem;
	height: calc(1.5em + .75rem + 2px);
	width: 100%;
  border-radius: .35rem;
  margin-top:20px;
  display: inline-block;
}

input.newPass {
	border: 1px solid;
	width: 100%;
	position: relative;
	background: transparent;
	outline: none;
  display: inline-block;
}

input.image_pass {
	width: 20px;
	border: 0px;
	position: relative;
	display: inline-block;
}*/

