a:link, a:visited, a:active {
    text-decoration:none;
}
.link{
  color: #4e73df;
}

.header-screen{
  display: block;
  width:400px;
  height: 35px;
  align-items: center;
  vertical-align: middle;
}

.header-title-screen img {
  display: inline-block;
  height: 40px;
}

.dataTables_wrapper .dt-buttons {
  position: relative;
  left: 1400px;
  display: inline-flex;
}

input,h6,h1,label,h4,button,.card-header,th,tr{
  font-family: arialRoundedEsp !important;
}

.card-body{
  margin-top: 15px !important;
}

#tblAgregarEntradasProductos_filter {
  display: none;
}

#tblAgregarEntradasProductos_paginate{
  display: none;
}

select:invalid {color: #b1b1b1;}

.ss-main .ss-single-selected {
  background-color: #fff;
  color: #666;
  outline: 0;
  box-sizing: border-box;
  transition: background-color .2s;
}

.ss-main .ss-single-selected .ss-arrow span {
  border: solid #006dd9;
  border-width: 0 2px 2px 0;
}

.dropdown-menu:after, .arrow-up:before {
  border-bottom: 10px solid transparent;
}
