a:link,
a:visited,
a:active {
  text-decoration: none;
}
.link {
  color: #4e73df;
}

/* .header-screen {
  display: block;
  width: 400px;
  height: 35px;
  align-items: center;
} */

.header-title-screen img {
  display: inline-block;
  height: 40px;
}

.readEditPermissions {
  display: block;
}

.readNotEditPermissions {
  opacity: .6 ;
  background-repeat: no-repeat;
  pointer-events: none;
}

.excelDataTableButton {
  background-color: transparent;
  border: none;
}

.dt-buttons :hover{
  background-color: transparent;
  border: none;
}

.dt-buttons :focus{
  background-color: transparent;
  border: none;
}

